<h1>Help</h1>
<p>
  Please Conctact Hector Cruz if problems with the website or any personal help. 
  <a href="hcruzbo@linfield.edu">Email hcruzbo@linfield.edu</a>.
 	This will direct you to my school home page
  <a href="www.linfield.edu"><em>Linfield College</em>
  College</a>.
</p>